/** @format */

$primary-color: rgb(115, 84, 253);
$secondary-color: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  background-image: url(https://media-exp1.licdn.com/dms/image/C4D1BAQFVhpNDW2MoTw/company-background_10000/0?e=2159024400&v=beta&t=3tsUWEHRGcHT5jFHn8lKxMKNFMsEUAiPM7IlWB0Su9g);
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-field {
  position: relative;
  width: 20vw;
  height: 44px;
  line-height: 44px;
  display: flex;
  align-items: center;
}
.container {
  background: $secondary-color;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  box-shadow: 2px 2px rgb(65, 65, 119);
}
.info {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

input {
  width: 100%;
  padding: 0.2rem 0;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
input:invalid {
  outline: 0;
}

input:focus,
input:valid {
  border-color: $primary-color;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -30px;
  color: $primary-color;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
  width: 100%;
  color: #000000;
  transition: 0.5s all;
  cursor: text;
}
.parameters {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 250px;
  margin-left: 1rem;
}
.algo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  margin-right: 0.5rem;
}
.climateImage {
  background-color: $primary-color;
  border-radius: 1rem;
  margin-top: 1rem;
}
p:hover {
  color: $primary-color;
  font-size: 1.5rem;
  transition: all 0.1s;
}
.btn {
  padding: 3px 3px;
  outline: 0;
  border: none;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 3px;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  color: $primary-color;
  background-color: $secondary-color;
  transition: all 0.1s;
}
@media screen and (max-width: 700px) {
  .container {
    max-width: 90vw;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
  .label {
    position: absolute;
    top: -10px;
  }
  .btn {
    margin-top: 1rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
  .climateImage {
    transform: scale(1.3);
    margin-bottom: 1rem;
  }
  .algo {
    margin-bottom: 1rem;
  }
  .algo h4 {
    margin-bottom: 1.5rem;
  }
  .parameters {
    grid-template-columns: 1fr;
    text-align: center;
    line-height: 2;
  }
} ;
